.container {
    margin: auto;
    max-width: 500px;
    text-align: center;
    padding: 2rem;
}

.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
    padding-top: 10px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

