.sectionSmall, .sectionMedium, .sectionLarge {
    padding: 2rem;
    margin: auto;
    text-align: center;
}

.sectionSmall {
    max-width: 500px;
}

.sectionMedium {
    max-width: 800px;
}

.sectionLarge {
    max-width: 1000px;
}

.sectionHeading {
    color: var(--primary-rgb);
    font-size: var(--font-heading-size);
    padding-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
    .sectionSmall, .sectionMedium, .sectionLarge {
        padding: 1rem;
    }
}